body>header{
    background-color: #173753;
    color: #E5ecf4;
}
body{
    background-color: #6EACDA;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#about{
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}
body>main>div>img{
    padding: 3vh;
    padding-left: 21vh;
}
#about_me{
    padding: 8px;
}
body>header>h2{
    margin: 0px;
    padding: 8px;
}
#name{
    margin: 0px;
    padding: 4px;
}
body>main>h2{
    padding: 16px;
    padding-left: 21vh;
}
body>main>article{
    padding: 8px;
}
body > header > nav > ul{
    list-style: none;
    text-decoration: none;

}
#main-header{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: start;
}
#nav-ul{
    display: flex;
    margin-left: 0%;
}
#graduate{
    padding: 4px;
    margin: 0px;
    text-decoration: none;
}
#title{
    margin-right: 50%;
    margin-left: 0%;
}
h2{
    text-align: left;
    
}
#main-content{
    width: 80%;
    margin: 0 auto;  
}
#nav-ul{
    display: flex;
}
#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}
#main-content > article >main{
    display: flex;
    justify-content: space-between;
}

#main-content > article >main>p{
    padding-left: 32px;
    width: 60%;
    
}
.githublink{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    background-color: black;
    border-radius: 10%;
}
#main-content > article >footer{
    display: flex;
    justify-content: space-around;
}
#mainfooter{
    background-color: #173753;
    display: flex;
}
#footer-ul{
   display: flex;
   list-style: none;
   
}
#footer-ul > li{
    padding: 12px;
}
#footer-ul > li > a{
    color: white;
    text-decoration: none;
}
#skill-logo{
    font-size: 300%;
    padding-right: 10%;
    color: lightgray;
    text-shadow: 
    -1px -1px 0 black, /* outline */
    1px -1px 0 black,  /* outline*/
    -1px 1px 0 black,  /* outline */
    1px 1px 0 black,   /* outline */
    2px 2px 5px black; /* creates the shadow*/
    
}
#h2s{
    font-size: 200%;
    color: rgb(32, 32, 32);
    text-shadow: 
    -1px -1px 0 lightgrey, /* outline */
    1px -1px 0 lightgrey,  /* outline*/
    -1px 1px 0 lightgrey,  /* outline */
    1px 1px 0 lightgrey;   /* outline */
}
.linkedinlink{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    background-color: rgb(1, 1, 134);
    border-radius: 10%;
}
#bottomdiv{
    padding-bottom: 30vh;
}
#main-articles{
    background-color: rgb(119, 179, 231);
    padding-left: 2%;
    padding-right: 2%;   
}
#project-description{
    padding-left: 1%;
}